
{% extends 'doctor/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block doctorbase %}

<div class="container-fluid py-4" >
    <div class="card mx-auto " style="width:fit-content">
        <div class="card-body" >
            <h1 style="font-family: Itim,cursive; text-align: center;" class="mb-3 mx-auto">Enter Personal Information</h1>
           <!-- edit_doctor_profile.html -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- name -->
                <div class="form-group row" >
                    <div class="col-sm my-2 ">
                        <div class="input-group" >
                            <input type="text" class="form-control"  placeholder="Name" name="name" value="{{ form.name.value }}">
                        </div>
                    </div>
                </div>

        
                <div class="form-group row ">
					<!-- gender -->
                    <div class="col-sm-5 my-2 mx-auto ">
						<select class="form-control" id="exampleFormControlSelect1" name="Gender" placeholder="Gender" value="{{ form.gender.value }}">
							<option selected disabled>Gender</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="Others">Others</option>
						</select>
				
                        <!-- <div class="input-group">
                            <input type="text" class="form-control"  placeholder="Gender" name="gender">
                        </div> -->
					</div>
					<!-- City -->
                    <div class="col-sm-5 my-2 mx-auto ">
                        <div class="input-group">
                            <input type="text" class="form-control" min="0" placeholder="City" name="City" value="{{ form.City.value }}">
                        </div>
                    </div>    
                </div>
                            
                <div class="form-group row">
                    <!-- phone -->
                    <div class="col-sm-5 my-2 mx-auto">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">+91</div>
                            </div>
                            <input type="tel" class="form-control" pattern="[1-9]{1}[0-9]{9}" placeholder="Phone Number" name="phone" value="{{ form.phone.value }}">
                        </div>
                        <small>{{ form.phone.help_text }}</small>
                    </div>
                    <!-- aadhar number -->
                    <div class="col-sm-5 my-2 mx-auto">
                        <div class="input-group">
                            <input type="tel" class="form-control" pattern="[0-9]{12}" placeholder="Aadhar Number" name="Aadhar_Number" value="{{ form.Aadhar_Number.value }}">
                        </div>
                        <small>{{ form.Aadhar_Number.help_text }}</small>
                    </div>
				</div>

				<!-- College -->
				<div class="form-group row" >
                    <div class="col-sm my-2 ">
                        <div class="input-group" >
                            <input type="text" class="form-control"  placeholder="College" name="College" value="{{ form.College.value }}">
                        </div>
                    </div>
                </div>

				 <!-- Degree -->
				<div class="form-group row" >
                    <div class="col-sm my-2 ">
                        <div class="input-group" >
                            <input type="text" class="form-control"  placeholder="Degree" name="Degree" value="{{ form.Degree.value }}">
                        </div>
                    </div>
				</div>
				
				<div class="form-group row">
                    <!-- Year_of_completion -->
                    <div class="col-sm-5 my-2 mx-auto">
                        <div class="input-group">
                            <input type="number" class="form-control" min="1970" max="2020" placeholder="Year of Completion" name="Year_of_completion" value="{{ form.Year_of_completion.value }}">
                        </div>
					</div>
					<!-- Registration_year -->
                    <div class="col-sm-5 my-2 mx-auto">
                        <div class="input-group">
                            <input type="number" class="form-control" min="1970" max="2020" placeholder="Registration year" name="Registration_year" value="{{ form.Registration_year.value }}">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
					<!-- Registration_Number -->
					<div class="col-sm-auto my-2 mx-auto ">
                        <div class="input-group" >
                            <input type="text" class="form-control"  placeholder="Registration Number" name="Registration_Number" value="{{form.Registration_Number.value }}">
                        </div>
					</div>
					<!-- Specialisation -->
                    <div class="col-sm-auto my-2 mx-auto">
                        <div class="input-group">
                            <input type="text" class="form-control"  placeholder="Specialisation" name="Specialisation" value="{{ form.Specialisation.value }}">
                        </div>
					</div>
					
				</div>
				
				<!-- Current_place_of_work -->
                <div class="form-group row">
                    <div class="col-sm my-2 mx-auto">
                        <div class="input-group">
                            <input type="text" class="form-control"  placeholder="Current Place of Work" name="Current_place_of_work"value="{{ form.Current_place_of_work.value }}">
                        </div>
                    </div>
				</div>
				
				 <!-- Registration_Council -->
				 <div class="form-group row" >
                    <div class="col-sm my-2 ">
                        <div class="input-group" >
                            <input type="text" class="form-control"  placeholder="Registration Council" name="Registration_Council"value="{{ form.Registration_Council.value }}">
                        </div>
                    </div>
				</div>

				
				
				 
                <!-- Medical_registration_proof -->
                {% comment %} <div class="form-group row">
                    <div class="col-sm my-2">
                        <div class="custom-file ">
                        <input type="file" class="custom-file-input" id="medicalproofinput" name="Medical_registration_proof" >
                        <label class="custom-file-label" for="medicalproofinput">Medical Registration Proof</label>
                        </div>
                    </div>
                </div>
                <script>
                    // Add the following code if you want the name of the file appear on select
                    $(".custom-file-input").on("change", function() {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                    });
				</script> {% endcomment %} 
				

                <!-- profile_pic -->
                <div class="form-group row">
                    <div class="col-sm my-2">
                        <div class="custom-file ">
                        <input type="file" class="custom-file-input" id="profilepicinput" name="Profile_pic" >
                        <label class="custom-file-label" for="profilepicinput">Profile Picture</label>
                        </div>
                    </div>
                </div>
                <script>
                    // Add the following code if you want the name of the file appear on select
                    $(".custom-file-input").on("change", function() {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                    });
                </script>
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-success" type="reset">Reset</button>
    
            </form>
        </div>
    </div>
</div>

{% endblock %} 

{% comment %} <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit doctor Profile</title>
</head>
<body>
    <h1>Edit doctor Profile</h1>
    <p>Editing information for: {{ doctor_name }}</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
    </form>
</body>
</html>  {% endcomment %}