{% extends 'doctor/base.html' %}
{% load static %}
{% block doctorbase %}

<div class="container">
    <div class="container" style="width: 100%; max-width: 1200px; margin: 0 auto; padding: 20px; text-align: center;">
        <h1 style="font-family:'Ubuntu';font-size: 3rem;text-align: center; color: rgb(92, 46, 13);">My Profile</h1>
        <button class="edit-option-buttons" style="font-size: 18px; float: right; ">
            <a href="{% url 'doctor:editdoctorprofile' %}">Edit your profile</a>
        </button>
    </div>
</div>

<div class="container" id="main-content" style="width: 100%; margin: 0 auto;">
    <div class="row my-5">
        <div class="col-md-4 col-sm-12 text-center" style="background-color:#f5f1da;">
            <br>
            <img class="profile-photo" src="{{ profile.Profile_pic.url }}" alt=""><br><br>
            <div class="row my-5 align-items-center">
                <div class="col-6">
                    <div class="profile-field">
                        <b>NAME:</b>
                    </div>
                </div>
                <div class="col-6">
                    <div class="profile-content">
                        {{ profile.name }}
                    </div>
                </div>
            </div>
            <div class="row my-5 align-items-center">
                <div class="col-6">
                    <div class="profile-content">
                        <b>PHONE:</b>
                    </div>
                </div>
                <div class="col-6">
                    <div class="profile-content">
                        {{ profile.phone }}
                    </div>
                </div>
            </div>
            <div class="row my-5 align-items-center">
                <div class="col-6">
                    <div class="profile-content">
                        <b>GENDER:</b>
                    </div>
                </div>
                <div class="col-6">
                    <div class="profile-content">
                        {{ profile.Gender }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 text-center" style="background-color:#f5f1da;">
            <div class="row my-5 align-items-center">
                <div class="col-6">
                    <div class="profile-content">
                        <b>SPECIALISATION:</b>
                    </div>
                </div>
                <div class="col-6">
                    <div class="profile-content">
                        {{ profile.Specialisation }}
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-6 profile-content">
                    <b>CITY:</b>
                </div>
                <div class="col-6 profile-content">
                    {{ profile.City }}
                </div>
            </div>
            <div class="row my-5">
                <div class="col-6 profile-content">
                    <b>REG. NUMBER:</b>
                </div>
                <div class="col-6 profile-content">
                    {{ profile.Registration_Number }}
                </div>
            </div>
            <div class="row my-5">
                <div class="col-6 profile-content">
                    <b>REG. COUNCIL:</b>
                </div>
                <div class="col-6 profile-content">
                    {{ profile.Registration_Council }}
                </div>
            </div>
            <div class="row my-5">
                <div class="col-6 profile-content">
                    <b>REG. YEAR:</b>
                </div>
                <div class="col-6 profile-content">
                    {{ profile.Registration_year }}
                </div>
            </div>
            <div class="row my-5">
                <div class="col-6 profile-content">
                    <b>DEGREE:</b>
                </div>
                <div class="col-6 profile-content">
                    {{ profile.Degree }}
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 text-center" style="background-color:#f5f1da;">
            <div class="row my-5">
                <div class="col-6 profile-content">
                    <b>COLLEGE:</b>
                </div>
                <div class="col-6 profile-content">
                    {{ profile.College }}
                </div>
            </div>
            <div class="row my-5">
                <div class="col-6 profile-content">
                    <b >YEAR OF COMPLETION:</b>
                </div>
                <div class="col-6 profile-content">
                    {{ profile.Year_of_completion }}
                </div>
            </div>
            <div class="row my-5">
                <div class="col-6 profile-content">
                    <b>CURRENT PLACE OF WORK:</b>
                </div>
                <div class="col-6 profile-content">
                    {{ profile.Current_place_of_work }}
                </div>
            </div>
            <div class="row my-5">
                <div class="col-6 profile-content">
                    <b>AADHAR NUMBER:</b>
                </div>
                <div class="col-6 profile-content">
                    {{ profile.Aadhar_Number }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




<!-- name :     {{profile.name}}<br>
phone :     {{profile.phone}}<br>
Specialisation :     {{profile.Specialisation}}<br>
City :     {{profile.City}}<br>
Registration_Number :     {{profile.Registration_Number}}<br>
Registration_Council :     {{profile.Registration_Council}}<br>
Registration_year :     {{profile.Registration_year}}<br>
Degree :     {{profile.Degree}}<br>
College  :     {{profile.College}}<br>
Year_of_completion :     {{profile.Year_of_completion}}<br>
Medical_registration_proof :     {{profile.Medical_registration_proof}}<br>
Gender :     {{profile.Gender}}<br>
Current_place_of_work :     {{profile.Current_place_of_work}}<br>
Profile_pic :     {{profile.Profile_pic}}<br>
Aadhar_Number :     {{profile.Aadhar_Number}}<br> -->







{% comment %} {% endblock %} {% endcomment %}