{% extends 'medical/base.html' %}
{% load static %}

{% block medical_base %}
<div class="container" style="width: 100%; max-width: 1200px; margin: 0 auto; padding: 20px; text-align: center;">
  <h1 style="font-family:'Ubuntu';font-size: 3rem;text-align: center; color: rgb(92, 46, 13);">My Profile</h1>
  <button class="edit-option-buttons" style="font-size: 18px; float: right;">
      <a href="{% url 'medical:edit_medical_profile' %}">Edit Profile</a>

  </button>
</div>

<div class="container" id="main-content" style="margin: 0 auto; width: 100%;">
  <div class="row my-5">
      <!-- Column 1 -->
      <div class="col-md-4 col-sm-12 text-center hi" style="background-color: #f5f1da;"><br>
          <img class="profile-photo" src="{{ profile.profile_pic.url }}" alt=""><br><br>
          <div class="row my-3 align-items-center">
              <div class="col-6">
                  <div class="profile-field">
        
                  </div>
              </div>
              <div class="col-6">
                  <div class="profile-content">
                      {{ profile.name }}
                  </div>
              </div>
          </div><br>
          <div class="row my-3">
              <div class="col-lg-5 profile-content">
                  
              </div>
              <div class="col-lg-7 profile-content">
                  {{ profile.license_id }}
              </div>
          </div><br>
      </div>

      <!-- Column 2 -->
      <div class="col-md-4 col-sm-12 text-center" style="background-color:#f5f1da;"><br>
          <div class="row my-3">
              <div class="col-6">
                  <div class="profile-content">
                      <b>USERNAME:</b>
                  </div>
              </div>
              <div class="col-6">
                  <div class="profile-content">
                      {{ request.user.username }}
                  </div>
              </div>
          </div><br>
          <div class="row my-3">
              <div class="col-lg-6 profile-content">
                  <b>EMAIL:</b>
              </div>
              <div class="col-lg-6 profile-content">
                  {{ request.user.email }}
              </div>
          </div><br>
          <div class="row my-3">
              <div class="col-lg-6 profile-content">
                  <b>PHARMACY NAME:</b>
              </div>
              <div class="col-lg-6 profile-content">
                  {{ profile.pharmacy_name }}
              </div>
          </div><br>
          <div class="row my-3">
              <div class="col-lg-6 profile-content">
                  <b>ADDRESS:</b>
              </div>
              <div class="col-lg-6 profile-content">
                  {{ profile.address }}
              </div>
          </div><br>
      </div>

      <!-- Column 3 -->
      <div class="col-md-4 col-sm-12 text-center" style="background-color:#f5f1da;"><br>
          <div class="row my-3">
              <div class="col-lg-6 profile-content">
                  <b>CONTACT NUMBER:</b>
              </div>
              <div class="col-lg-6 profile-content">
                  {{ profile.phone }}
              </div>
          </div><br>
          <div class="row my-3">
              <div class="col-lg-6 profile-content">
                
              </div>
              <div class="col-lg-6 profile-content">
                  {{ profile.alt_phone }}
              </div>
          </div><br>
          <div class="row my-3">
              <div class="col-lg-6 profile-content">
                  
              </div>
              <div class="col-lg-6 profile-content">
                  {{ profile.specialization }}
              </div>
          </div><br>
      </div>
  </div>
</div>
{% endblock %}
